#header {
  background-color: $color-black;
  .navbar-brand {
    color: #D9D9D9;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .navbar-nav {
    a, .nav-link {
      color: #9E9E9E;
      letter-spacing: 1px;
      font-weight: 600;
    }
  }
}